.dropdown {
  cursor: pointer;
  height: var(--controls-height);
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0 12px;

  &:hover,
  &.open {
    border-color: var(--border-color);
  }

  &.open {
    border-bottom: 0;
  }

  &.open {
    border-bottom: 0;
  }

  &.open .dropdown-menu {
    display: block;
  }

  svg {
    transform: rotate(0deg);
    transition: transform 400ms ease;
  }

  &.open svg {
    transform: rotate(180deg);
  }

  svg path {
    stroke: var(--text-primary);
  }
}

.dropdown-controls {
  color: var(--text-primary);
}

.dropdown-menu {
  list-style-type: none;
  display: none;
  position: absolute;
  top: 96%;
  left: -1px;
  right: -1px;
  background-color: var(--primary-bg);
  border: 1px solid var(--border-color);
  border-top: 0;
  border-radius: 0 0 4px 4px;
}

.dropdown-item {
  cursor: pointer;
  padding: 12px 14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--text-primary);

  &:hover {
    background-color: var(--hovered-color);
    border-radius: inherit;
  }
}
