header {
  position: relative;
  margin-bottom: 16px;
  box-shadow: rgba(44, 53, 86, 0.05) 0px 4px 12px;
  background-color: var(--primary-bg);
  padding: var(--vertical-padding) 0;

  > * {
    margin-right: 16px;
  }
}

.page-title {
  position: absolute;
  left: var(--horizontal-padding);
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: var(--text-primary);
}

#walkthrough-tutorial {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--horizontal-padding);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.8;
  }
}

.action-buttons > * {
  margin-right: 16px;
}
