#modal-overlay {
  background-color: rgba(25, 25, 25, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease;

  &.open {
    pointer-events: all;
    opacity: 1;
  }
}

.modal-container {
  width: 375px;
  position: relative;
  background-color: #fff;
  padding: var(--small-horizontal-padding);
  border-radius: 4px;
}

#modal-close {
  cursor: pointer;
  position: absolute;
  right: var(--small-horizontal-padding);
}

#modal-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 12px 0 8px;
}

#modal-description {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
