.table-container {
  flex: 1;
  flex-direction: column;
  padding: 4% 20%;
}

#board {
  flex: 1;
  width: 100%;
  border-collapse: collapse;
}

#board td {
  height: 25px;
  width: 25px;
  border: 1px solid #b3e5fc;
}

.start,
.end {
  position: relative;
}

.start::after {
  content: '';
  position: absolute;
  height: 60%;
  width: 60%;
  border-bottom: 6px solid purple;
  border-right: 6px solid purple;
  transform: rotate(-45deg) translate(50%, -10%);
}

.end::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border: 3px solid purple;
  border-radius: 100%;
}

.end::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 35%;
  width: 35%;
  background-color: purple;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.current {
  background-color: rgb(255, 254, 106);
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    border-radius: 100%;
    background-color: #2c3556;
  }
  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }
  75% {
    transform: scale(1.2);
    background-color: #79f2c0;
  }
  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.wall {
  background-color: #0c3547;
  animation: wallAnimation 0.3s ease-out;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
